NODE_ENV=development
PORT=3000

# PostgreSQL local (docker-compose)
DATABASE_URL="postgresql://cimavia:cimavia@localhost:5432/cimavia?schema=public"
DIRECT_URL="postgresql://cimavia:cimavia@localhost:5432/cimavia?schema=public"

# Observabilité (optionnel en dev)
SENTRY_DSN=
AXIOM_TOKEN=
AXIOM_DATASET=
